/*ELEMENT*/
p{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*CLASS*/
.parrafo1{
    color: red;
    font-size: 40px;
}

/*ID*/
#textoId{
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 80px;
}