/*Declarar variables y asignarles el valor*/
/*solo utilizar una fuente por proyecto y siempre importarlas en el head y no en el css*/
:root{
    --primary-color: #003476;
    --secundary-color: #B4D2F7;
    --header-size: 4rem;
    --font: 1.8rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color); /*Llamar la variable*/
}

main{
    width: 100vw;
    height: 70vh;
    font-size: 1.8rem;
}

h1{
    font-size: var(--header-size);
    color: var(--primary-color);
}

footer{
    width: 100vw;
    height: 15vh;
    background-color: #B4D2F7;
}